.heroMainContainer{
    width: 100%;
    height: 100%;
    padding-top: 2rem;
    min-height: 74vh;
}

.proyects_Title{
    margin-bottom: 1rem;
}
.contentHero__Container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.Main__Tecnolog{
    grid-row: 2/3;
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 5rem;
}
.techStack__title{
    padding-bottom: 1.1rem;
}
.stackicons{
    margin-right: 1rem;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
}
.Main__Portafolio{
    flex-direction: column;
    grid-column: 3/5;
    grid-row: 1/3;
    display: flex;
    margin-right: 5rem;
    align-items: center;
}
@media (max-width: 1280px){
    .heroMainContainer{
        padding-top: 8rem;
    }
}
@media(max-width:1050px){
    .heroMainContainer{
        padding-top: 2rem;
    }
}
@media (max-width:599px){
    .contentHero__Container{
        grid-template-rows: auto;
    }
    .contentHero__Container{
        padding: 2rem;
    }
    .Main__Portafolio{
        grid-column: 1/5;
        grid-row: 2/3;
        margin: 0;
    }
    .Main__Tecnolog{
        grid-column: 1/5;
        grid-row: 3/4;
        margin:0;
        margin-top: 2rem;
    }
    .heroMainContainer{
        padding-top: 0;
        height: auto;
    }
    .contentHero__Container{
        padding-top: 0;
        height: auto;
        max-height: 256vh;
    }
}

