a{
    text-decoration:none
}
.correo:hover{
    color: green;
    text-decoration: underline;
}
.Main__Conectemos{
    height: 56.8vh;
}
.socialMedia__container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.socialMedia__container > a:nth-child(1){
    margin-right: 2rem;
}
